.shadow {
 -webkit-box-shadow: 3px 3px 5px 6px #fff;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow:    3px 3px 5px 6px #fff;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #fff;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 25px;
}

.loginContainer {
  height: 330px;
  width: 500px;
  margin: 30px auto;
  padding: 15px;
  background-color: 	#D3944F;
  border-radius: 25px;
  opacity: .97;
}

.signupContainer {
  height: 485px;
  width: 500px;
  margin-left: 750px;
  margin-top: 75px;
  padding: 15px;
  background-color: #D3944F;
  border-radius: 25px;
  opacity: .97;
}

.characterContainer {
  width: 700px;
  margin: auto;
  margin-top: 75px;
  padding: 15px;
  background-color: #D3944F;
  border-radius: 25px;
  opacity: .97;
}

.userForm {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 15px;
}

.characterForm {
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 15px;
}

.updateShowForm {
  margin-left: 245px;
  width: 50%;
  align-content: flex-start;
}

.individualCharacter {
  margin: auto;
  padding: 15px;
  
}

.characterShowPage {
  text-align: left;
  width: 100%;
  height: 900px;
  background: url("https://jaspersrantings.files.wordpress.com/2012/12/basic-dd-character-sheet-updated_page_1.jpg?w=400&zoom=2") no-repeat center center;
  background-size: contain;
}

button.loginButton.btn.btn-primary.disabled, .btn-primary:disabled {
  background-color: #974721;
  border: none;
  width: 200px;
  color: 	#fff;
}

.loadCharacterButton, .deleteCharacterButton {
  margin: 10px;
  background-color: #974721;
  border: none;
  width: 150px;
  color: 	#fff;
}

.title {
  font-size: 3.75em;
  color: 	#fff;
  margin-bottom: 30px;
}

.header {
  color: 	#fff;
}

.logoutButton {
  background-color: #974721;
  color: 	#fff;
  border: none;
}

.characterControlButton {
  margin-top: 70px;
  background-color: #974721;
  color: 	#fff;
  border: none;
  width: 200px;
}

nav.navbar.navbar-expand.navbar-light.bg-light {
  background: none;
  border: none;
  background-color: transparent !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.fixedHeight, .extraSpace{
  height: 685px;
}

.characterHeight {
  height: 100%;
}

.signUpLink {
  color: #974721;
}

.carousel-control-prev-icon {
  color: black;
}

a, a:hover {
  color: 	#fff;
}

hr {
  background-color: #fff;
}

.charactersIndexImg {
  height: 200px;
}

.characterInfo {
  text-align: left;
  color: #fff;
}

.characterIndexHR {
  width: 600px;
  border: 2px solid #fff;
}

.characterHeaderHR {
  border: 2px solid #fff;
}

.characterName {
  padding-top: 27px;
  height: 50px;
}

.characterKlass {
  padding-top: 23px;
}

.characterHealth {
  padding-top: 23px;
  padding-left: 122px;
}

.statRow {
  padding-top: 127px;
}
.statPadding {
  padding-top: 10px;
}