.backgroundImage {
 background: url("https://cdn.pixabay.com/photo/2019/08/17/21/53/dungeons-and-dragons-4413051_1280.jpg") no-repeat center center fixed;
 background-size: 100%;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
}

.greeting {
 padding-top: 100px;
 padding-left: 400px;
}

.mainHeader {
 font-size: 3em;
 color: white;
}

.homePage {
 height: 697px;
}

.loginButton {
 background-color: #974721;
 border: none;
 width: 400px;
 color: 	#fff;
}

.userButton {
 background-color: #974721;
 border: none;
 width: 400px;
 color: 	#fff;
 margin-top: 50px;
}

